assignment-1/sql-tester/testsql
assignment-1/Makefile
assignment-1/docs/report.aux
assignment-1/docs/report.dvi
assignment-1/docs/report.log
assignment-1/docs/report.tex
assignment-1/docs/answers.aux
assignment-1/docs/answers.log
