assignment-1/sql-tester/testsql
assignment-1/Makefile
assignment-1/docs/report.aux
assignment-1/docs/report.dvi
assignment-1/docs/report.log
assignment-1/docs/report.tex
assignment-1/docs/answers.aux
assignment-1/docs/answers.log
assignments-2-3/db2700/run_front
assignments-2-3/db2700/run_test
assignments-2-3/db2700/doc
assignments-2-3/db2700/_obj
assignments-2-3/db2700/src/Doxyfile
assignments-2-3/db2700/tests
db2700/__pycache__
assignments-2-3/docs/specification-assignment2.pdf
*.tex
